*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bridge.jpeg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #f5f5f5 ;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    background-color: #fff;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    margin-bottom: 25px;
    box-shadow: 0 px 0px 20px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.wrapper h2{
    background-color: #fcfcfc;
    color: #016064;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}
img{
    height: 300px;
    width: 450px;
    margin: 25px auto 0;
}
#subm{
    width: 100%;
    background: transparent;
    border:none;
    background: #016064;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.35s ease;
}
#subm:hover{
    cursor: pointer;
}