@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bridge.jpeg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #f5f5f5 ;
}
.logo{
    width: 180px;
    cursor:pointer;
    margin-left: 15px;
}
header{
    background-color:#016064;
    height: 100px;
}
header ul{
    float: right;
    list-style-type: none;
    margin-right: 25px;
    margin-top: 25px;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 0px solid red;
    border-radius: 10px;
    transform: 0.6s ease;
    font-size: 28px;
    font-family: Helvetica;
}
header ul li a:hover{
    background-color: #4682B4;
    color: white;
    font-family: Helvetica;
}
table{
    border-spacing: 5px;
    margin-top: 30px;
    margin-left: 230px;
}
th, td{
    border-radius: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    background-color: white;
}
.data{
    text-align: center;
}
.ir{
    background-color: #fa8072;
}
.or{
    background-color: #9a7b4f;
}
.ar{
    background-color: #98bf64;
}
input{
    font-size: 28px;
    text-align: center;
    border: 0px solid;
}
a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#demo{
    text-align: center;
}
#demo2{
    text-align: center;
}
#demo3{
    text-align: center;
}
.imag{
    height: 400px;
    width: 840px;
    margin-top: 30px;
    margin-left: 230px;

}